@font-face {
  font-family: 'Tahoma Regular';
  src: url('/src/Fonts/Tahoma.eot');
  src: url('/src/Fonts/Tahoma.eot?#iefix') format('embedded-opentype'),
  url('./Fonts/Tahoma.woff') format('woff'),
  url('./Fonts/Tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

.app-wraper {
  display: grid;
  margin: 0 auto;
  width: 1200px;

  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wraper-content {
  grid-area: c;
  background-color: lightcoral;
}





